.page {
  position: relative;
  min-width: 320px;
  max-width: calc(1200px + 120px * 2);
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 120px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .page {
    padding: 0 60px;
  }
}

@media screen and (max-width: 767px) {
  .page {
    padding: 0 15px;
  }
}
